table, select
{
    font-family: Verdana, Tahoma;
    font-size: 17px;
}

form
{
    margin: 0;
    padding: 0;
}

/* Label columns in tables */
.editor-label
{
    /* float: left; */
    width: 300px;
    font-family: Verdana, Helvetica, Sans-Serif;
    font-size: 18px;
    margin: 5px; /* labels must have same margin as editor-field */
}

/* Label columns in tables that are inside tab page */
.editor-label-tabpage
{
    width: 285px; /* width must be shorter inside a tab page */
    font-family: Verdana, Helvetica, Sans-Serif;
    font-size: 18px;
    margin: 5px; /* labels must have same margin as editor-field */
}

/* legend columns in tables */
.editor-legend
{
    font-family: Verdana, Helvetica, Sans-Serif;
    font-weight: bold;
    font-size: 18px;
    color: #777777;
}

/* Editable columns in tables */
.editor-field
{
    width: 330px;
    font-family: Verdana;
    font-size: 18px;
    margin: 5px;
}

/* Separator columns in tables */
.separator-field
{
    width: 20px;
}

/* Label fields in divs */
.editor-label-div
{
    float: left;
    width: 300px;
    font-family: Verdana, Helvetica, Sans-Serif;
    font-size: 18px;
    margin: 5px; /* labels must have same margin as editor-field */
}

/* Label fields in divs that are inside tab page */
.editor-label-div-tabpage
{
    float: left;
    width: 285px; /* width must be shorter inside a tab page */
    font-family: Verdana, Helvetica, Sans-Serif;
    font-size: 18px;
    margin: 5px; /* labels must have same margin as editor-field */
}

/* Editable fields in divs */
.editor-field-div
{
    font-family: Verdana;
    font-size: 18px;
    margin: 5px;
}

/* Set grey color for readonly textboxes and textareas */
input[readOnly], textarea[readOnly], .readonly-field
{
    color: #545151;
    background: #E8E8E8;    
}

select
{
    width: 330px;
    height: 30px;
    margin: 1px;
}

legend 
{
    font-size: 17px;
    font-weight: 600;
    padding: 2px;
    color: #9bb74d;
}

input, textarea
{
    font-family: Verdana;
    font-size: 17px;
}

body
{
    /* 1em = 0,625 * 1px -->> 1.0em ~ 10 px */
    font-size: 20px
}

.infoicon
{
    display: block;
    float: left;
    background-image: url("Images/info.png");
    background-repeat: no-repeat;
    width: 33px;
    height: 33px;
    margin: 5px;
}

body
{
    font-family: Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
    background-image: url("Images/bck_content.gif");
    background-repeat: repeat-x;
    background-position: top left;
}


p, ul
{
    margin-bottom: 20px;
    line-height: 36px;
}

a img
{
    border: none;
}

/* BUTTONS   
----------------------------------------------------------*/
/*
    Override jQuery UI style for jQuery Button widgets with parent 'wgk-button' class.
    This way we don't interfere with other types of buttons used in jQuery UI, e.g. tab panel, accordion, etc.
    Add specific rules for actionlinks inside jQuery UI tab panel, accordion and dialog.
*/
.wgk-button .btn btn-primary-text, .wgk-actionlink,
.ui-tabs-panel .wgk-actionlink, .ui-accordion .wgk-actionlink, .ui-dialog-content .wgk-actionlink,
input[type="button"], input[type="reset"], input[type="submit"], button
{
    font-size: 17px;
    font-weight:bold;
    color: #FFFFFF; /* Set white on grey background with black border for inner text of jquery button */
    background-image: none;
    background-color: #999999;
    padding: 0;
    border:1px solid black;
    padding:3px;
    text-decoration: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 5px; /* future proofing for when border-radius is supported */
}
/* Make sure icon buttons are not to high */
.wgk-button .btn btn-primary-text  {
    padding:2px;
}

/* Align image on ImageButtons */
.wgk-button img  {
vertical-align: middle}

/* WGK ActionLinks must have the same look as buttons */
.wgk-actionlink
{
    font-family:  Arial, sans-serif;
    line-height: 33px;
}
 
/*
    Remove colored padding (border) arround jquery button.
    Add specific rules for buttons inside jQuery UI tab panel, accordion and dialog.
 */
.wgk-button,
.ui-tabs-panel .wgk-button, .ui-accordion .wgk-button, .ui-dialog-content .wgk-button
{
    border: none;
    padding: 0;
}

/*
    Button hover style
*/
.ui-state-hover .btn btn-primary-text, .wgk-actionlink:hover,
input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover
{
    background-color: #DDDDDD; /* make background light grey so user can still recognize the white icon */
    /* color: #FFFFFF; */
}

/* DIV containing buttons (zoeken, wissen, toevoegen, verwijderen, wijzigen, terug, etc) */
.buttonsdiv
{
    text-align: right;
    margin: 10px 0px 0px 0px;
}

.ok
{
    color: Green;
}

.error
{
    color: #CC3300; /*#AA4100;*/
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
    font-size: 27px;
    color: #000;
    font-family: Verdana, Helvetica, sans-serif;
}
.maintitle
{
    background-image: url("Images/bck_h1.gif");
    background-repeat: repeat-x;
    background-position: bottom left;
    background-color: #9bb74d;
    border: 1px solid #fff;
    color: #fff;
    line-height: 41px;
    font-size: 36px;
    padding-left: 25px;
}
.TitleLabel
{
    /* All  title labels (searchcriteria, searchresults, etc) */
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
    border: 0px;
    background-color: #555555;
    width: 100%;
    display: block;
    line-height: 29px;
    text-align: center;
    margin-top: 6px;
}
h1
{
    font-size: 48px;
    padding-bottom: 0;
    margin-bottom: 0;
}
h2
{
    padding: 0 0 16px 0;
}
h3
{
    font-size: 29px;
}
h4
{
    font-size: 26px;
}
h5, h6
{
    font-size: 24px;
}

/* this rule styles <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/
#pageheader
{
    background-image: url("Images/bck_funcnav.gif");
    background-repeat: repeat-x;
    background-position: top left;
    background-color: #000;
}
#topbar
{
    line-height: 53px;
    width: 1455px;
    margin: 0 auto;
    font-family: Verdana,Helvetica,sans-serif;
}
#topbar #logo
{
    position: absolute;
    color: #FFFFFF;
    font-size: large;
    font-weight: bold;
}

#headerimage
{
    height: 180px;
    background-image: url("Images/banner.jpg");
    background-repeat: no-repeat;
    background-position: center top;
}
#dividerbar
{
    height: 20px;
    background-color: #fff;
    border-bottom: 1px solid #787873;
}
#content
{
    margin: 0px 30px 30px 30px;
}
#main
{
    background-color: #fff;
    width: 1455px;
    margin-left: auto;
    margin-right: auto;
    min-height: 400px;
    _height: 1px; /* only IE6 applies CSS properties starting with an underscrore */
}
#footer
{
    height: 247px;
    background-image: url("Images/bck_footer.gif");
    background-repeat: no-repeat;
    background-position: center bottom;
    text-align: center;
    margin: 0;
}

/* buttonsbar
----------------------------------------------------------*/

ul.buttonsbar
{
    padding: 0 0 2px;
    position: relative;
    text-align: left;
    width: 1200px;
    margin: 0 auto;
    height: 25px;
    line-height: 40px;
}


ul.buttonsbar li
{
    display: block;
    float: left;
    list-style: none;
}
ul.buttonsbar li a
{
    display: block;
    text-decoration: none;
    padding: 0 20px;
}
ul.buttonsbar li a:hover
{
    text-decoration: none;
}

ul.buttonsbar li a:active
{
    text-decoration: none;
}



/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    padding: 2px;
    border: 1px solid #CCC;
}

fieldset p
{
    margin: 2px 12px 10px 10px;
}

legend
{
    font-size: 24px;
    font-weight: 600;
    padding: 2px;
}

input[type="text"], textarea
{
    width: 330px;
    border: 1px solid #CCC;
}

input[type="password"]
{
    width: 330px;
    border: 1px solid #CCC;
}

.ui-pg-selbox, .ui-pg-input
{
    width: 40px;
}

/* TABLE
----------------------------------------------------------*/

table
{
    border-collapse: collapse;
}

table td
{
    padding: 5px;
}

table th
{
    padding: 6px 5px;
    text-align: left;
    font-weight: bold;
}



.layout-table td
{
    padding: 3px 0px 3px 0px;
    /*font-size: 11px;*/
}

/* ENROLLMENT DETAIL VIEW                                     
----------------------------------------------------------*/

/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

.highlight
{
    font-weight: bold;
    color: #093E60;
}

div#title
{
    display: block;
    float: left;
    text-align: left;
}

#logindisplay
{
    font-size: 18px;
    display: block;
    text-align: right;
    color: #ddd;
}

#logindisplay a:link
{
    color: #ddd;
    text-decoration: underline;
}

#logindisplay a:visited
{
    color: #ddd;
    text-decoration: underline;
}

#logindisplay a:hover
{
    color: #ddd;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #CC3300;
}

.field-validation-valid {
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #FFBBBB;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #CC3300;
    background-color: #EFEBAB;
}

.validation-summary-valid {
    display: none;
}

/* Validation and information messages
----------------------------------------------------------*/
.InformationLabel
{
    font-weight: normal;
    font-size: 18px;
    /* font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; */
    color: black;
    border: 0px;
    background-color: #EFEBAB;
    display: block;
    line-height: 38px;
    padding: 0px 25px 0px 25px;
}

.ErrorLabel
{
    font-weight: bold;
    font-size: 18px;
    /* font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; */
    color: #CC3300;
    border: 0px;
    background-color: #EFEBAB;
    display: block;
    line-height: 38px;
    padding: 0px 25px 0px 25px;
}

/* autocomplete styling
----------------------------------------------------------*/
.ui-autocomplete
{
    /* max-height for the autocomplete menu to prevent the menu from growing too large */
    max-height: 200px; /* max-height preventing autocomplete to become invisible outside screen area*/
    max-width: 230px;
    overflow-y: auto; /* prevent horizontal scrollbar */
    overflow-x: hidden; /* add padding to account for vertical scrollbar */
    padding-right: 20px;
}
/* IE 6 doesn't support max-height
    * we use height instead, but this forces the menu to always be this tall
    */
* html .ui-autocomplete
{
    height: 100px;
}

/* autocomplete styling */
div.ac_results
{
    background-color: #FFF;
    color: #333;
}
div.ac_results ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: solid 1px #ccc;
}

div.ac_results ul li
{
    font-family: Verdana, Verdana, Sans-Serif;
    font-size: 18px;
    margin: 1px;
    padding: 3px;
    cursor: pointer;
}

div.ac_results ul li.ac_over
{
    background-color: #acf;
}

.ui-autocomplete li a
{
    font-size: 14pt;
}


/* menu styling
----------------------------------------------------------*/
.menucontainer
{
    font-size: 29px;
}


/* multiselect styles
----------------------------------------------------------*/
.multiselect
{
    width: 900px;
    height: 450px;
}

#switcher
{
    margin-top: 20px;
}


/* jqgrid styles
----------------------------------------------------------*/
.jqgrow
{
    cursor: pointer;
}

.altRow
{
    background: #f8f8f8 url(images/ui-bg_flat_65_ffffff_40x100.png) 50% 50% repeat-x;
}

.errorRow
{
    background: #FFBBBB;
}

.wgk-jqgrid-row-priority-medium
{
    background: #F2BE68;
    font-weight: bold;
}

.wgk-jqgrid-row-priority-high
{
    background: #F26E68;
    font-weight: bold;
}


/* Ajax loading  
----------------------------------------------------------*/
/* Class for loading/busy indicator */
.wgk-loadingMain
{
    border: 1px solid black;
    background: white;
    padding: 10px;
    position:fixed;
    left: 0px;
    top: 0px;
    z-index: 10000000;
}

/* Class for screen blocking overlay */
.wgk-blockingMain
{
        position: absolute;
        left: 0;
        top: 0;
        background: #888;
        z-index: 99;
}

/* TimeEntry styles
----------------------------------------------------------*/
.timeEntry_control {
    vertical-align: middle;
    margin-left: 2px;
}
* html .timeEntry_control { /* IE only */
    margin-top: -4px;
}

/* tooltips
----------------------------------------------------------*/
.tooltip
{
    border-bottom: 1px /*dotted*/ #000000;
    color: #000000;
    outline: none;
    cursor: help;
    text-decoration: none;
    position: relative;
}
.tooltip span
{
    margin-left: -999em;
    position: absolute;
}
.tooltip:hover span
{
    border-radius: 5px 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
    /*font-family: Calibri, Tahoma, Geneva, sans-serif;*/
    position: absolute;
    left: 32px;
    top: 32px;
    z-index: 99;
    margin-left: 0;
    /*width: 250px;*/
}
.tooltip:hover img
{
    border: 0;
    margin: 0px 0px 0px 0px; /*margin -10px 0 0 -55px;*/
    /*float: left;
    position: absolute;*/
}
.tooltip:hover em
{
    /*font-family: Candara, Tahoma, Geneva, sans-serif;*/
    font-size: 29px;
    font-weight: bold;
    display: block;
    padding: 3px 0 9px 0;
}
.classic
{
    padding: 4px 8px;
}
.custom
{
    padding: 8px 12px 12px 32px;
}
* html a:hover
{
    background: transparent;
}
.classic
{
    background: #bfd77f;
    border: 1px solid #545151;
}
.critical
{
    background: #DBF48D;
    border: 1px solid #764100;
}
.help
{
    background: #9FDAEE;
    border: 1px solid #2BB0D7;
}
.info
{
    background: #9FDAEE;
    border: 1px solid #2BB0D7;
}
.warning
{
    background: #FFFFAA;
    border: 1px solid #FFAD33;
}

/* jQuery UI overrides
----------------------------------------------------------*/
.  { font-size: 24px; }

.ui-state-disabled { opacity: 0.75 } /* make sure disabled items can be read be setting a higher opacity value */

/*  jQuery datepicker */
input[type='text'].hasDatepicker { width: 276px; }
/*  calendar font */
.ui-datepicker { font-size: 17px; }
/* This is the style for the trigger icon. The margin-bottom value causes the icon to shift down to center it. */
.ui-datepicker-trigger
{
    margin-left:5px;
    margin-top: 8px;
    margin-bottom: -3px;
}

/*  jQuery UI Button 1.8.13 */
.btn btn-primary-icon-only { width: 20px; height: 20px;} /* set width and height to make room for the icon */
button.btn btn-primary-icon-only { width: 22px; height: 22px; } /* button elements seem to need a little more width */
.  button { font-size: 17px; } /* buttons inside  s: set same font-size as in .wgk-actionlink class */

/*
    jQuery UI Multiselect
    Add specific rules for buttons inside jQuery UI tab panel, accordion and dialog.
*/
.ui-multiselect,
.ui-tabs-panel .ui-multiselect, .ui-accordion .ui-multiselect, .ui-dialog-content .ui-multiselect
{
    font-size: 17px;
    font-weight:normal;
    color: #312e25;
    background-image: none;
    background-color: #FFFFFF;
    padding: 0;
    border:1px solid #CCCCCC;
    padding:3px;
    text-decoration: none;
}
/* Set grey color for readonly textboxes and textareas */
.ui-multiselect[disabled] {
    color: #545151;
    background: #E8E8E8;    
}

/* Set color for multiselect icon */
.ui-multiselect .ui-icon {
  background-image: url("jqtheme/images/ui-icons_847e71_256x240.png"); /* grey icons on white background */   
}

/* Set color for numeric updown icons */
.ui-numeric-buttons .btn btn-primary {
   background-image: url("jqtheme/images/ui-icons_847e71_256x240.png"); /* grey icons on white background */
   background-color: #847e71;
   border-color: #FFFFFF; 
}

/* WGK classes 
----------------------------------------------------------*/
/* Classes for icon colors, e.g.
 <span class="ui-icon ui-icon-white ui-icon-pencil" />
*/
.HeaderTDLeft 
{
    
    font-family: Verdana,Helvetica,sans-serif;
    color: #FFFFFF;
    font-size: x-large;
    font-weight: bold;
    height: 45px; 
    vertical-align: top;
    padding-top: 6px;
    text-align:left;
    
    
}
.HeaderTDMid
{
    
    font-family: Verdana,Helvetica,sans-serif;
    color: #ddd;
    font-size: 15px;
    text-align: right;
    
    height: 45px; 
    vertical-align: top;
    padding-top: 6px;
}
.HeaderTDRight
{
    
    font-family: Verdana,Helvetica,sans-serif;
    color: #FFFFFF;
    font-size: small;
    
    height: 45px; 
    vertical-align: top;
    padding-top: 3px;

    
}

.wgk-icon-white {
  background-image: url("jqtheme/images/ui-icons_ffffff_256x240.png");
}

.wgk-icon-dark {
  background-image: url("jqtheme/images/ui-icons_847e71_256x240.png");
}

.print-only {
   
    display:none !important;
}

h3.print-only {
   
    display:none !important;
}

/* DELETED - classes from Training application
  .identification-table select
    {
        width: 255px;
        height: 20px;
        margin: 1px;
   
    }
.identification-table td
    {
        padding: 3px 0px 3px 0px;
    }

.identification-table  .editor-label
    {
            width: 165px;
            font-family: Verdana, Helvetica, Sans-Serif;
            font-size: 18px;
            margin: 5px;
            color: #777777;
    
    }
.identification-table .editor-label2
    {
        width: 45px;
        font-family: Verdana, Helvetica, Sans-Serif;
        font-size: 18px;
        margin: 5px;
        color: #777777;
     
    }
.identification-table .editor-label3
    {
        width: 130px;
        font-family: Verdana, Helvetica, Sans-Serif;
        font-size: 18px;
        margin: 5px;
        color: #777777;
   
    }
.identification-table .editor-field
    {
        width: 225px;
        font-family: Verdana;
        font-size: 18px;
        margin: 5px;
   
    }
.identification-table .editor-field2
    {
        width: 113px;
        font-family: Verdana;
        font-size: 18px;
        margin: 5px;
         
    }
.identification-table select
    {
        width: 255px;
        height: 20px;
        margin: 1px;
         
    }
.identification-table #SearchCriteria_BeginDatum
    {
        width: 173px;
        height: 20px;
        margin: 1px;

      
    }
.identification-table #SearchCriteria_EindDatum
     {
        width: 173px;
        height: 20px;
        margin: 1px;
     
    }
.identification-table #SearchCriteria_IndieningTypeID
    {
        width: 255px;
        height: 20px;
        margin: 1px;
         
    } 
*/          
    
     

   