html,
body
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    color: #001f5b;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}

body {
    font-family: 'Poppins', serif;
    font-weight: 400;
    color: black
}

.ui-jqgrid-view table {
    border-collapse: collapse;
    background: white;
  
}

.ui-jqgrid-view th {
    background: steelblue;
    font-weight: lighter;
    text-shadow: 0 1px 0 #38678f;
    color: white;
    border: 1px solid #38678f;
    box-shadow: inset 0px 1px 2px #568ebd;
    transition: all 0.2s;
}

.ui-jqgrid-view tr {
    border-bottom: 1px solid #cccccc;
}

    .ui-jqgrid-view tr:last-child {
        border-bottom: 0px;
    }

.ui-jqgrid-view td {
    border-right: 1px solid #cccccc;
    transition: all 0.2s;
}

    .ui-jqgrid-view td:last-child {
        border-right: 0px;
    }

    .ui-jqgrid-view td.selected {
        background: #d7e4ef;
        z-index:;
    }

    .ui-jqgrid-view td input {
        font-size: 14px;
        background: none;
        outline: none;
        border: 0;
        display: table-cell;
        height: 100%;
        width: 100%;
    }

        . ui-jqgrid-view td input:focus {
            box-shadow: 0 1px 0 steelblue;
            color: steelblue;
        }

::-moz-selection {
    background: steelblue;
    color: white;
}

::selection {
    background: steelblue;
    color: white;
}

.ui-jqgrid-view.heavyTable {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    animation: float 5s infinite;
}

#gbox_ResultGrid {
    margin-left: 10px;
}

.ui-jqgrid-view table {
    margin: 0px;
}

.ui-jqgrid-view tr:hover {
    background-color: lightgray;
}

    .ui-jqgrid-view tr:hover td {
        background-color: transparent; /* or #000 */
    }

.ui-jqgrid-view tr {
    border: none;
}

.ui-jqgrid tr.ui-row-ltr td {
    border: none;
}

.ui-jqgrid-hbox {
    width: 100%;
}

.ui-jqgrid-btable {
    margin: 0;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: -10px;
}

.ui-jqgrid .ui-jqgrid-hbox {
    padding-right: 0px;
}

.ui-jqgrid-bdiv {
    border: none;
}

#ResultGrid {
    border: none;
}

.ui-widget-content jqgrow ui-row-ltr {
    border: none;
}

#gview_ResultGrid {
    width: 100%;
}

.ui-jqgrid-htable {
    border-radius: 10px;
    overflow: hidden;
    background-color: #FFD923;
}

#ResultGrid_TrainingID {
    width: 100%;
}

.ui-th-column {
}

ui-jqgrid-btable {
}

.ui-row-ltr {
}

.ui-pager-control {
}

.ui-pg-table {
    margin: 0px;
    padding: 0px;
}

#ResultGridPager_center {
    width: 55%;
}

#ResultGridPager_left {
    width: 0px;
}

#ResultGridPager_right {
    width: 30%;
}

/*a:link:not(#exclude), a:visited:not(#exclude) {
    text-decoration: none;
    color: #ffff;
    cursor: pointer;
}*/

/*Gegevens verborgen zetten bij LesomschrijvingsForm*/
#ZorgGerelateerd {
    display: none;
}

#WCHDV {
    display: none;
}

#ZGDT {
    display: none;
}

#EVZGSRD {
    display: none;
}

#EVZGSCOMPL {
    display: none;
}

#AWSBOX {
    display: none;
}

#ICC {
    display: none;
}

#OPP {
    display: none;
}

#TRAINER_INT_EXT_MAIL {
    display: none;
}

#NCoCG {
    display: inherit;
}

/*ProgressiBar Aantal uren*/
#myProgress {
    width: 100%;
    background-color: grey;
    margin-top: 10px;
    margin-bottom: 10px;
}

#myBar {
    width: 0%;
    height: 30px;
    background-color: #FFD923;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white;
}

#myProgress2 {
    width: 100%;
    background-color: grey;
    margin-top: 10px;
    margin-bottom: 10px;
}

#myBar2 {
    width: 0%;
    height: 30px;
    background-color: #FFD923;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white;
}

/*Body*/

#Alles {
    margin: 50px;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  
}
body {
    background-image: url(../Content/Images/Leo_website_bg.jpg);
    background-position-y: 80px;
    background-repeat: no-repeat;
}
tbody{
    background-image: none;
}
#Content {
   
}

.kaart {
    padding: 10px;
    margin-top: 10px;
    /*box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;*/
}

    .kaart h1 {
        font-size: 20px;
        font-weight: bolder;
        text-align: center;
    }

    .kaart h2 {
        display: inline-block;
        width: 100%;
        text-align: center;
        margin-top: 5px;
        font-weight: 600;
    }

    .kaart h3 {
        text-align: center;
    }

.hscroll {
    overflow-x: auto;
    overflow-y: hidden;
}

.Hkaart {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 10px;
    padding: 20px;
    margin-left: 5px;
}

#IBF {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ibfCard {
    width: 25rem;
    margin: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

/*ProfilePäge*/
.profile img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    object-fit: cover;
    background-color: white;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

    .profile h1 {
        margin-left: 20px;
    }

.pKaart {
    padding: 10px;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

    .pKaart h3 {
        text-align: center;
    }

.pRow {
    padding: 10px;
}
/*Mobile*/
@media screen and (max-width: 900px) {
    /*Body*/
    html {
        font-size: 16px;
    }
    .nav-icon {
        margin-bottom: 25px;
    }
    .Kaart {
        padding: 10px;
        background-color: white;
        font-size: 0,5em;
        margin: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

        .kaart h1 {
            text-align: center;
        }

    /*  #Content {
        justify-content: flex-start;
        flex-direction: column;
        flex-wrap: nowrap;
    }*/
}

.btngrp {
    padding: 10px;
}



/*Contact page*/

.accordion-item {
    max-block-size: 30%;
    border-radius: 20px;
}

.accordion-flush, .accordion-item, .accordion-button, .accordion-flush, .accordion-item, .accordion-button.collapsed {
    border-radius: 10px;
}

.accordion-button {
    background-color: #FFD923;
    font-size: 13px;
}

.card-group {
    padding: 10px;
}

.card-header {
    background-color: #001f5b;
    color: #ffff;
}

:root {
    --white: #f9f9f9;
    --black: #36383F;
    --grey: #85888C;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--white);
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Header */
.header {
    background-color: #FFD923;
    box-shadow: 1px 1px 5px 0px #FFD923;
    position: sticky;
    top: 0;
    width: 100%;
    position: sticky;
    z-index: 4;
}

/* Logo */
.logo {
    display: inline-block;
    color: var(--white);
    height: 120px;
   margin-top: -20px;
   margin-bottom: -20px;
}

/* Nav menu */
.nav {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #FFD923;
    overflow: hidden;
}

.menu a {
    right: 0px;
    color: var(--white);
    padding: 2vw;
}

.menu {
    padding: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
}
    /*text van de navbar in mobile view*/
    .menu a:nth-child(2n+2) {
        display: block;
        color: black;
        font-weight: 600;
    }

    .menu a:hover {
        list-style: none;
        text-decoration: none;
    }

.nav {
    max-height: 0;
    transition: max-height .5s ease-out;
}

/* Menu Icon */

.hamb {
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}

.hamb-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}

    .hamb-line::before,
    .hamb-line::after {
        background: var(--white);
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }

    .hamb-line::before {
        top: 5px;
    }

    .hamb-line::after {
        top: -5px;
    }

.side-menu {
    display: none;
}

    /* Toggle menu icon */

    .side-menu:checked ~ nav {
        max-height: 100%;
    }

    .side-menu:checked ~ .hamb .hamb-line {
        background: transparent;
    }

        .side-menu:checked ~ .hamb .hamb-line::before {
            transform: rotate(-45deg);
            top: 0;
        }

        .side-menu:checked ~ .hamb .hamb-line::after {
            transform: rotate(45deg);
            top: 0;
        }

/* Responsiveness */

@media (min-width: 900px) {
    .menu a {
        padding: 0vw;
    }

    .nav {
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
        justify-items: flex-end;
    }

    .menu a:nth-child(2n+2) {
        display: block;
        color: unset;
        font-weight: unset;
    }

    .menu li {
        float: left;
        padding: 10px;
    }

    .menu {
        padding: 0vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        align-content: center;
        flex-wrap: nowrap;
        text-align: center;
    }



        .menu a:hover {
        }

    .hamb {
        display: none;
    }
}

/*filter button float */

#FloatBubbel, .Filter, .Filtermenu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Filter {
    bottom: 1vw;
    left: 1vw;
    position: fixed;
    background-color: #fff;
    transition: 0.5s;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 8px 15px rgba(0,0,0,.2);
    z-index: 3;
}

.Filtermenu ul li span {
    all: unset;
}

.Filtermenu {
    margin: 0;
    padding: 0;
    width: 0;
    overflow: hidden;
    transition: 0.5s;
    font-size: 16px;
}

.Filter input:checked ~ .Filtermenu {
    width: 300px;
    height: 300px;
}

.Filtermenu li {
    list-style: none;
    margin: 0 10px;
}

    .Filtermenu li a {
        text-decoration: none;
        color: #666;
        text-transform: uppercase;
        font-weight: 600;
        transition: 0.5s;
    }

        .Filtermenu li a:hover {
            color: #161919;
        }

.Filter input {
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: 0;
}

.Filter span {
    position: absolute;
    left: 3px;
    width: 30px;
    height: 4px;
    border-radius: 50px;
    background-color: #001f5b;
    pointer-events: none;
    transition: 0.5s;
}

.Filter input:checked ~ span {
    background-color: #f974a1;
}

.Filter span:nth-child(2) {
    transform: translateY(-8px);
}

.Filter input:checked ~ span:nth-child(2) {
    transform: translateY(0) rotate(-45deg);
}

.Filter span:nth-child(3) {
    transform: translateY(8px);
}

.Filter input:checked ~ span:nth-child(3) {
    transform: translateY(0) rotate(45deg);
}

.form-select {
    font-size: 16px;
}

.Nav-Item {
    font-size: 0;
}
.nav-icon {
   height: 80px;
   margin-right: 10px;
   margin-top: -10px;
}
